@import "tailwindcss";

@theme {
  --font-display: "Poppins";
  --color-background: #004643;
  --color-headline: #fffffe;
  --color-paragraph: #abd1c6;
  --color-btn: #f9bc60;
  --color-btn-text: #001e1d;
  --ease-fluid: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
}
